<ion-header>

  <ion-navbar>
    <ion-title>
      <!-->search<!-->
    </ion-title>


<div>
<!--  <script>

      $('.b1').click(function(){
          $('.toggle').slideToggle("fast");
      });
  </script>-->

<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<ion-buttons >
<button class="b1" tyle="padding-left:50;"ion-button icon-only (click)="Toggle()" ><ion-icon style="padding-left:50;"name="ios-funnel"></ion-icon></button>
<button style="padding-left:50;"ion-button icon-only (click)="RestData()"><ion-icon style="padding-left:50;"name="ios-refresh-circle"></ion-icon></button>
</ion-buttons>


<div *ngIf="Clicked" >
<div class="toggle">
  <img src="assets/img/occation2.png" style="  float:left; width : 35px ; height : 35px" ng-click="toggleO()" >
  <img src="assets/img/dish type.png" style=" margin-left:30px; float:left; width : 35px ; height : 35px" ng-click="toggleT()" >
<!--<ion-buttons>
  <button style="padding-left:50;"ion-button icon-only (click)="filterO()"><ion-icon style="padding-left:50;"name="ios-calendar" ></ion-icon></button>
  <button style="padding-left:50;"ion-button icon-only (click)="filterO()"><ion-icon style="padding-left:50;"name="ios-calendar" ></ion-icon></button>
  <button style="padding-left:50;"ion-button icon-only (click)="flterData()"><ion-icon style="padding-left:50;" name="ios-cash"></ion-icon></button>
</ion-buttons>-->
</div>
<!--style="display:none;"-->
<!--list of occoastions-->

<div class="toggle1" >
  <!--<img src="assets/img/occation2.png" style="  margin-left:30px; float:left; width : 35px ; height : 35px"  >-->
  <ion-list>
    <ion-item>
      <ion-select #newSelect [(ngModel)]="carbrand" (change)="filterO(carbrand)">
        <ion-option value="party" checked="true">party</ion-option>
        <ion-option value="office" >office</ion-option>
        <ion-option value="meeting">meeting</ion-option>
        <ion-option value="family meeting">family meeting</ion-option>

      </ion-select>
    </ion-item>
  </ion-list>
</div>

<!--list of types-->
<div class="toggle2" >
  <!--  <img src="assets/img/dish type.png" style=" margin-left:30px; float:left; width : 35px ; height : 35px"  >-->
<ion-list>
  <ion-item>
    <ion-select #newSelect [(ngModel)]="carbrand2" (change)="filterT(carbrand2)">
      <ion-option value="cake" checked="true">cake</ion-option>
      <ion-option value="choco" >choco</ion-option>
      <ion-option value="healthy">healthy</ion-option>
      <ion-option value="westean ">westean</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
</div>

</div>
</div>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>

    <ion-item  class="item"  *ngFor="let item of dishesListRef$ |async " (click)="goToDishPage(item)">
      <div style="white-space:nowrap;">
        <div style="  display:inline; float: left;" >
          <ion-img style="   float:left; width: 80px; height: 80px; border-radius:80%;" src="assets/img/k26380246.jpg" alt="shop image"  ></ion-img>
        </div>
          <br>       <div style="  margin-left:20px; float:left; display:inline; white-space:nowrap; margin:right;">
      <h2>  {{ item.name}}  </h2>
  <h4>

</h4>
      <h3>{{ item.average_rate}}</h3>
      <h3>{{ item.price}}</h3>
    </div>
      </div>
    </ion-item>
  </ion-list>
  <ion-scroll direction="x"></ion-scroll>
</ion-content>
