page-settings {
  .username {
    font-size: 1.3em;
  }
  .label {
    color: #7f7f7f;
  }
  .save-button{
    background-color: rgb(250, 152, 73);
    font-size: 1em;
    color: rgb(0, 0, 0);
    size: 15px;
  }

}
