
<ion-header>

  <ion-navbar>
    <ion-title>add-new-dish</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
   <ion-list>
      <ion-item>
        <ion-label floating >Name</ion-label>
        <ion-input type="text"  [(ngModel)]="dish.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating >Price SR</ion-label>
        <ion-input type="number"  [(ngModel)]="dish.price" required></ion-input>
      </ion-item>
    <ion-item>
      <button ion-button (click)="takePhoto()">pic <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
    <ion-item>
        <ion-label floating>type of dish </ion-label>
        <ion-select [(ngModel)]="dish.type">
          <ion-option value="non">choose a type</ion-option>
          <ion-option value="cake">cake</ion-option>
          <ion-option value="choco">choco</ion-option>
          <ion-option value="healthy">healty</ion-option>
          <ion-option value="westean">westean deserts</ion-option>

        </ion-select>
      </ion-item>
<!--list of checks-->
<ion-item>
  <form>
    <div class="multiselect">
      <div class="selectBox" (click)="showCheckboxes()">
        <select>
          <option>Select an occasion for this dish </option>
        </select>
        <div class="overSelect"></div>
      </div>
      <div id="checkboxes" >
          <div *ngFor="let oc of occs">
        <label>
          <input type="checkbox"  value="{{oc}}"   [checked]="occmap[oc]"
          (change)="updateCheckedOptions(oc, $event)" />{{oc}}
        </label>
</div>
      </div>
    </div>
  </form>
</ion-item>
<div id="selectedO" >
  </div>
<!--shops from database-->
    <ion-item>
        <ion-label floating >shops</ion-label>
        <ion-select [(ngModel)]="dish.shop">
          <ion-option value="non">choose a shop or add one </ion-option>
          <ion-option *ngFor="let shop of shops | async" [(value)]="shop.key" >{{shop.name}} </ion-option>
        </ion-select>
</ion-item>
<ion-item>        <button ion-button (click)="addShop()">add shop<ion-icon name="add"></ion-icon> </button>
</ion-item>
<ion-item>
    <div padding>
        <button ion-button (click)="submit(dish)">Add</button>
        <button ion-button (click)="back()">Cancel</button>
        </div>
</ion-item>
    </ion-list>

</ion-content>
