page-dish {
min-height : 30px;
.img {
    max-width: 100%;
    height: auto;
<<<<<<< HEAD
    position: relative; 
=======
    position: relative;
>>>>>>> 9ba80d3ac69c02c7bf147f847b2db47796f9e88d
}
.button{
    position: relative;
}
.ion-segment-button{
    position: relative;
}
.ion-segment{
    position: absolute;
}
.ion-rating{
    max-width: 100%;
    height: auto;
    position: relative;
}
}

