page-dish {
<<<<<<< HEAD

=======
min-height : 30px;
.img {
    max-width: 100%;
    height: auto;
    position: relative; 
>>>>>>> 13db5d94ce720029c6a369821f759ada2f74c8b7
}
.button{
    position: relative;
}
.ion-segment-button{
    position: relative;
}
.ion-segment{
    position: absolute;
}
.ion-rating{
    max-width: 100%;
    height: auto;  
    position: relative;  
}
}

