        <ion-header>
                <ion-navbar transparent>
                    <ion-title>profile</ion-title>
                  <ion-buttons right>
                    <!--button ion-button color="light"
                            *ngIf="slideIndex < slides.length - 1"
                            class="skip-button"
                            (click)="skip()">SKIP</button-->
                  </ion-buttons>
                </ion-navbar>
                <!--ion-header-bar align-title="left" class="bar-positive"-->

     </ion-header>

<ion-content>
    <!--div *ngIf="auth.currentUserAnonymous" >
        Content for anonymous users
      </div-->




     <ion-list>
    <ion-header>welcom >{{user.name}}</ion-header>
    <p class="username">{{user.name}}</p>
    <button ion-button (click)="logout()">Log out</button>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>

    </ion-item>
    <!--ion-item *ngFor="let tips of tips; let i = index"(click)="showOptions(tips.$key, tip.title)">
        {{tip.title}}
      </ion-item-->
  </ion-list>
</ion-content>
