
<!--[src]="(user |async )?.profileImage"  style="width: 150px; height: 120px;"-->
<ion-content padding class="transparent-header">

  <div id="profile-bg" color="primary"  Style="background-color: #F1C4B1;">
    <button class="sitting"  (click)="sittings()"><ion-icon name='settings'  Style="  font-size: 40px;" item-start></ion-icon></button>

  </div>
  <div id="content">
    <div id="profile-info" padding>
      <img id="profile-image" [src]="imageUrl"/>
      <h3 id="profile-name">  {{(user | async)?.name}}</h3>
      <p class="profile-description">{{(user | async)?.bio}}</p>
      <button ion-button  small color="#F08655" (click)="add()">ADD NEW DISH <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon>
      </button>
    </div>
    <hr/>

    <div padding>
      <ion-segment [(ngModel)]="userch">
        <ion-segment-button value="tipslist">
          Tips
        </ion-segment-button>
        <ion-segment-button value="dishes">
          Dishes
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="userch">
<div *ngSwitchCase="'tipslist'" >
      <ion-card *ngFor="let tip of tipsRef$ | async ">
        <ion-item>
          <h2 class="sticky">{{tip.title}}</h2>
        </ion-item>
        <ion-card-content>
          <p>{{tip.body}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col col-4>
              <button ion-button   clear small icon-left (click)="gotoDishpage(tip.dish)">
  <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
                </button>
          </ion-col>
          <ion-col col-5>
              <button ion-button no-padding clear small icon-left (click)="delete(tip)">
                  <ion-icon name='trash'></ion-icon></button>
          </ion-col>
          <ion-col col-3 align-self-center text-center>
            <p>{{tip.date}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
<div *ngSwitchCase="'dishes'">

  <ion-card *ngFor="let dish of dishes | async ">

      <ion-card-content>
          <h2 floting >{{dish.name}} Dish</h2>
        <p>{{dish.price}} RS</p>
      </ion-card-content>
      <ion-row>
        <ion-col col-4>
            <button ion-button   clear small icon-left (click)="gotoDishpage(dish.key)">
<ion-icon ios="ios-exit" md="md-exit"></ion-icon>
              </button>
        </ion-col>
        <ion-col col-5>
            <button ion-button no-padding clear small icon-left (click)="deletedish(dish)">
                <ion-icon name='trash'></ion-icon></button>
        </ion-col>
        <ion-col col-3 align-self-center text-center>
          <p>{{dish.number_of_raters}} Rate</p>
        </ion-col>
      </ion-row>
    </ion-card>
</div>
</div>

</div>

</ion-content>
