
<!--[src]="(user |async )?.profileImage"  style="width: 150px; height: 120px;"-->
<ion-content padding class="transparent-header">

  <div id="profile-bg" color="primary"  Style="background-color: #F1C4B1;">
    <button class="sitting"  (click)="sittings()"><ion-icon name='settings'  Style="  font-size: 40px;" item-start></ion-icon></button>

  </div>
  <div id="content">
    <div id="profile-info" padding>
      <img id="profile-image" [src]="imageUrl"/>
      <h3 id="profile-name">  {{(user | async)?.name}}</h3>
      <p class="profile-description">{{(user | async)?.bio}}</p>
      <button ion-button  small color="#F08655" (click)="add()">ADD NEW DISH <ion-icon ios="ios-restaurant" md="md-restaurant"></ion-icon>
      </button>
    </div>
    <hr/>

    <div padding>
      <ion-segment [(ngModel)]="user">
        <ion-segment-button value="tipslist">
          Tips
        </ion-segment-button>
        <ion-segment-button value="dishes">
          Dishes
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="user">
<div *ngSwitchCase="'tipslist'" >
      <ion-card *ngFor="let tip of tipsRef | async ">
        <ion-item>
          <h2 class="sticky">{{tip.title}}</h2>
        </ion-item>
        <ion-card-content>
          <p>{{tip.body}}</p>
        </ion-card-content>
        <ion-row>
          <ion-col col-4>
              <button ion-button   clear small icon-left (click)="gotoDishpage(tip.dish)">
  <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
                </button>
          </ion-col>
          <ion-col col-5>
              <button ion-button no-padding clear small icon-left (click)="delete(tip)">
                  <ion-icon name='trash'></ion-icon></button>
          </ion-col>
          <ion-col col-3 align-self-center text-center>
            <p>{{tip.date}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
      <ion-card *ngSwitchCase="'dishes'">
        <ion-item>
          <ion-thumbnail item-start>
          </ion-thumbnail>
          <h2>Luna</h2>
        </ion-item>
</ion-card>
    </div>


      <!--div class="bar bar-header bar-dark">

        <ion-segment ng-model="categories" full="true"  assertive>
        <ion-segment-button value="tips">
          Tips
        </ion-segment-button>
        <ion-segment-button value="dishes">
          Dishes
        </ion-segment-button>

      </ion-segment>
        </div>

        <div ng-switch="categories">

            <ion-card ng-switch-when="tips" *ngFor="let tip of tipsRef | async ">
              <ion-item>
                <h2 class="sticky">{{tip.title}}</h2>
              </ion-item>
              <ion-card-content>
                <p>{{tip.body}}</p> <p>{{tip.dish}}</p>
              </ion-card-content>
              <ion-row>
                <ion-col col-4>
                    <button ion-button   clear small icon-left (click)="gotoDishpage(tip.dish)">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
                      </button>
                </ion-col>
                <ion-col col-5>
                    <button ion-button no-padding clear small icon-left (click)="delete(tip)">
                        <ion-icon name='trash'></ion-icon></button>
                </ion-col>
                <ion-col col-3 align-self-center text-center>
                  <p>{{tip.date}}</p>
                </ion-col>
              </ion-row>
            </ion-card>


          <ion-card ng-switch-when="dishes">
            <ion-item>
              Game of Thrones
            </ion-item>
            <ion-item>
              Daredevil
            </ion-item>
            <ion-item>
              Arrow
            </ion-item>
          </ion-card>


        </div>
</div-->
</div>

</ion-content>
